{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "trailingComma": "all",
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
